*.class
**/target/
**/workspace.xml
C:/email/src/test/java/com/epam/preprod/firefox/TestGmail.java
TestGmail.java
**/TestGamil.java
#uf a netgineed to be shared i can just make ti static and thatt is ti instead of moving it arouhnd